<%# pass in local browse_config with a BlacklightFacetBrowse::ConfigInfo %>

<%= form_tag(catalog_facet_path(browse_config.facet_field), :method => :get, :class => "facet_browse_search") do %>
  <%= search_field_tag browse_config.query_param_name, params[browse_config.query_param_name], :id => nil, :placeholder => "starting with…", :autocomplete => "off", :class => "facet-browse-search-q" %>
  <span class="facet-browse-loading"></span>

  <%# search always resets sort to 'index', otherwise it's confusing %>
  <%= hidden_field_tag "catalog_facet.sort", "index" %>
  <%= search_as_hidden_fields(:omit_keys => [browse_config.query_param_name, :page, :id, :'catalog_facet.offset', :'catalog_facet.sort', :commit]).html_safe %>        

<% end %>
  